<div id="login" class="panel panel-small">
  <h2>Sign in</h2>
  <% form_for(:session, :url => sessions_path) do |f| %>
    <fieldset>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </fieldset>
    <fieldset class="submit">
      <p>New user? <%= link_to 'Sign up!', signup_path  %>  </p>
      <%= f.submit "Sign in",:class => "submit" %>
    </fieldset>
  <% end %>

</div>