<div id="signup" class="panel panel-small">
  <h2>Sign up</h2>
  <% form_for(@user) do |f|%>
    <%= f.error_messages %>
    <fieldset>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </fieldset>
    <fieldset class="submit">
      <%= f.submit "Sign up", :class => "submit" %>
    </fieldset>
  <% end %>

</div>
