<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="header">

  <ul class="navigation round">
    <li><%= link_to( 'Home', root_path ) %></li>
    <li><%= link_to( 'Help', help_path )%></li>
    <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Logout", signout_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Login", signin_path %></li>
    <% end %>
  </ul>
</div>
